body {
    background-color:#4b6cb7;
    border-color: white;
    color: white;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}

input {
    background-color: #e3ecf8;
    border-style: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

table {
    width: 80%; 
    margin: 0 auto; 
    margin-bottom: 12px;
}

thead tr th {
    padding-bottom: 12px;
}

.container {
    width: 80%;
    margin: auto;
}

.mastery_table td {
    vertical-align: top;
}

.champion_mastery {
    margin: 0 auto;
    width: 80%;
}

.champion_mastery td:last-of-type {
    vertical-align: middle;
}

.champion_mastery img {
    width: 50px;
    height: 50px;
}

.champion_mastery tr {
    width: 100%;
}

.champion_mastery p {
    font-size: large;
}

.summoner_table  {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid;
    width: 200px;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
}

